body{
    background-color:#121212;
    color:#b3b3b3;
    font-family:'Google Sans',sans-serif;
    margin:0;
}

/* HEADER */
.banner-container{
    width:100%;
    height:80px;
    background-color:#000000;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.logo{
    max-height:200%;
    width:auto;
    object-fit:contain;
    padding:10px 0;
}

/* LOGIN BOX */
.log{
    font-family:'Google Sans',sans-serif;
    font-weight:400;
    text-align:center;
    margin-top:20px;
    letter-spacing:1px;
    font-size:30px;

    display:inline-block;
    border:2px solid white;
    padding:10px 20px;

    position:relative;
    left:50%;
    transform:translateX(-50%);

    cursor:pointer;
    transition:0.3s;
}

.log-btn{
    color:aliceblue;
    text-decoration:none;
    padding:5px 10px;
}

.log-btn:visited{
    color:aliceblue;
}

.log-btn:hover{
    background-color:rgba(255,255,255,0.2);
    color:white;
}

.log-btn:active{
    background-color:black;
}

.head-text{
    display:block;
    text-align:center;
    margin-top:40px;
    padding:40px 20px;
    background-color:#181818;
}

.search-head h1{
    font-size:100px;
    margin:0;
}

.search{
    text-decoration:none;
    color:#ffffff;
    font-family:'Bebas Neue',sans-serif;
    font-size:70px;
    transition:0.3s;
}
.search:hover{
    color:#1ed760;
    letter-spacing:1px;
}

.search-head p{
    font-size:30px;
    margin-top:10px;
    color:#ef9595;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}

@media(max-width:768px){

    .log{
        font-size:18px;
        padding:8px 12px;
    }

    .search-head h1{
        font-size:40px;
    }

    .search{
        font-size:36px;
        letter-spacing:0;
    }

    .logo{
        max-height:120%;
    }

    .head-text{
        padding:20px 10px;
    }
}
